html {
  box-sizing: border-box;
}

body{
  margin: 0;
}

a {
  color: rgb(71, 71, 236);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 100px;
  max-width: 960px;
}

/* header */
.header {
  padding: 30px 20px;
  background-color: #2E2B44;
}

.header__logo {
  float: left;
  margin-right: 20px;
}

.header__title {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
}

.header__nav {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
  border: 1px solid #ffffff;
}

.nav__list {
  gap: 20px;
}

.nav__link {
  font-size: 20px;
  color: #ffffff;
}



/* main */
.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid #4d4d4d;
  padding: 10px;
  text-align: center;
}

#element {
  background-color: #5c5c5c56;
}

tr:nth-child(even) {
  background-color: #dfd68a;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

form {
  display: flex;
  flex-direction: column
}

.input {
  margin-bottom: 20px;
  height: 32px;
}

.form__textarea {
  margin-bottom: 20px;
  min-height: 200px;
  max-width: 960px;
}

.btn__form {
  margin-bottom: 20px;
  max-width: 120px;
  height: 30px;
}


/* footer */
.footer {
  padding: 20px 0;
  background-color: #2E2B44;
}

.footer__container {
  justify-content: center;
}

.footer__text {
  color: white;
  font-size: 18px;
}
