html {
  box-sizing: border-box;
}

.main {
  background-color: #cecece;
}

a {
  color: rgb(71, 71, 236);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list__reset {
  list-style: none;
}

.container {
  --bs-gutter-x: 0;
}

/* header */
.header {
  background-color: #2E2B44;
}

.header__title {
  font-size: 20px;
  color: #ffffff;
}

.nav__link {
  font-size: 18px;
  color: #ffffff;
}

/* main */
.table {
  border-collapse: collapse;
  overflow-x: auto;
}

#element {
  background-color: #5c5c5c56;
}

tr:nth-child(even) {
  background-color: #dfd68a;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

th, td {
  border: 2px solid #4d4d4d;
  text-align: center;
}

/* footer */
.footer {
  background-color: #2E2B44;
}

.footer__text {
  color: white;
  font-size: 20px;
}
